.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.movies-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.movies-container .movie{
  display: grid;
  height: 320px;
  padding: 0.5rem;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.movies-container .movie h3 {
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.movies-container .movie p {
  font-size: 0.875rem;
  margin: 0.5rem 0 0;
  overflow: hidden;
  text-align: center;
}

.movies-container .image-wrapper {
  width: 100%;
  height: auto;
  background: #f3f4f6;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 0;
}

.movies-container .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 .no-movies {
  text-align: center;
}



/* SPINNER */
.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}